<% content_for :title, "Dungeons" %>

<%= render 'dungeon_search' %>

<div class= "container">
  <h2>Table of all dungeons</h2>
  <div class="d-flex p-2">

    <table class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th># of Rooms</th>
      </tr>
      <%= render partial: @dungeons%>
    </table>
  </div>
</div>







