<% content_for :title, "Home" %>
<h2>Welcome to the Dungon Creater</h2>
<p>This is a website used to create and store randomly generated dungeons for your next dnd campagin.
Using a frankly baffling collection of spaghetti code and CSS, I was able to create a program that will fill any fantasy mountain side or sunken castle with a maze of passage ways and chambers.</p>
