<% content_for :title, "Chamber Types" %>

<div class="row">
  <h2>Table of All Chamber Types</h2>
</div>
<div class="row">
  <table class="table  table-hover">
  <tr>
    <th>Chamber Type</th>
    <th>Dungeon Type</th>
    <th>Roll</th>
    <th>Dice Odds</th>
  </tr>
  <%= render partial: @chamber_purposes %>
</table>
</div>
<div class="row">
  <%= paginate @chamber_purposes %>
</div>


