// Place all the styles related to the Dungeons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.room {
  border: 1px solid black;
  background-color: #31C36B;
  display: flex;
  align-items: center;

}

.room a {
  color: beige;
}

.room p{

  margin: auto;
}
